* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
    scroll-behavior: smooth;
    font-size: 17px;
}


.custom-shape-divider-bottom-1615671062 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: none;
}

.custom-shape-divider-bottom-1615671062 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 107px;
    transform: rotateY(180deg);
    background: none;
    
}

.custom-shape-divider-bottom-1615671062 .shape-fill {
    fill: #FFFFFF;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    z-index: 25;
    box-shadow: 1px 1px 5px grey;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.7em;
}

.logo a {
    font-size: 0.8em;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 1em;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 1em;
}

.nav-links li a:hover {
    color:#b1f4cf;
    font-size: 1em;
}

.nav-links ::after {
    content: '';
    display: block;
    background-color: red;
    text-decoration: line-through;
}

button {
    padding: 9px 25px;
    background-color:#fbc2eb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
    margin-left: 20px;
    box-shadow: 1px 1px 1px grey;
}

button:hover {
    background-color: #aa84a0;
}

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 97vh;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'Lato', sans-serif;
}


.section1 h1 {
    margin-left: 4vw;
    font-size: 8em;
    margin-top: -20vh;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color:   #6038bb;
    color: white;
    z-index: 0;
    text-transform: uppercase;
}


.section1 h5 {
    color: white;
    z-index: 0;
    text-transform: uppercase; ;
    margin-left: 4.5vw;
    font-size: 2.7em;
    margin-top: 6vh;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;

}

.section1 img {
    height: 669px;
    width: 748px;
    background-color: transparent;
    position: absolute;
    left: 60vw;
    top: 15vh;
    z-index: 1;
}

.wrapper2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.project-wrapper {
    display: flex;
    flex-direction: column; 
    gap: 100vh;
    width: 70%;
    height: 80vh;
}

#project1-box1 {
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}

.project1-box2 {
    height: 80vh;
    width: 100%;
    background-color: red;
}

.project1-box1-left{
    width: 35vw;
    height: 65vh;
}

.project1-box1-left li{
    list-style: none;
}
    

.project1-box1-left img {
    width: 35vw;
    height: 65vh;
    object-fit: contain;
}

.project1-box1-right {
    width: 35vw;
    height: 65vh;
    margin-left: 2vw;

}

.project1-box1-right h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    text-align: center;
}

.project1-box1-right h5 {
    font-size: 1.3em;
}

.project1-box1-right p {
    font-size: 1.15em;
}

.wrapper3 {
    position: relative;
    margin-top: 20vh;
    padding-top: 40vh;
    height:240vh;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    background-image: linear-gradient(to top, #fbc2eb 50%, #a18cd1 100%);
}
.wrapper3 img {
    position: relative;
    width: 30%;
    height: 50vh;
    border: 4px solid white;
    border-radius: 5px;
}

.wrapper3 h1 {
    position: absolute;
    top: 160px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.7em;
    color: white;
    z-index: 1;
}


.custom-shape-divider-top-1615683744 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: none;
}

.custom-shape-divider-top-1615683744 svg {
    position: relative;
    display: block;
    width: calc(162% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
    background: none;
}

.custom-shape-divider-top-1615683744 .shape-fill {
    fill: #FFFFFF;
}
#section2 a {
    position: absolute;
    background-color: white;
    bottom: 7vh;
    border-radius: 5vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    width: 100px;
    text-decoration: none;
    color: black;
}

.wrapper4 {
    margin-top: 10vh;
    padding-top: 20vh;
    height: 100vh;
    width: 100%;
}

.wrapper4 h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.7em;
}

.wrapper4 p {
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    height: 30vh;
}


#section4 {
    text-align: center;
    padding-top: 20vh;
    height: 100vh;
    width: 100%;
}

#section4 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7em;
    margin-bottom: 10vh;
}
.contact-form
{   
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    margin: 16px 0;
    background: #fbc2eb;
    padding: 20px 40px;
    opacity: 40%;
    outline: none;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #fbc2eb;
    background-color: #fbc2eb;
    opacity: 60%;
}

textarea.contact-form-text {
    resize: none;
    height: 30vh;
}
.contact-form-button {
    float: right;
    border: 0;
    background: #fbc2eb;
    border-radius: 20px;
    padding: 12px 50px;
    cursor: pointer;
}

.contact-form-button:hover{
    background-color: #87667d;
}


/*page 2 (gallery)*/

    .section1-gallery {
        display: flex;
        justify-content: center;
        height: 500vh;
        width: 100%;
        background: linear-gradient(-45deg,#b1f4cf , #5bffa5, #9890e3,  #7667ff );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .gallery {
        display: flex;
        align-items: center;
        width: 100%;
        height: 300vh;
        background: transparent;
        flex-direction: column;
    }
    .gallery h4 {
        padding-top: 20vh; 
        width: 40px;
        height: 40px;
        background-color: red;
    }

    .gallery-photos
    {
        display: flex;
        width: 95%;
        height: 100%;
        background-color: green;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 1vw;
    }

    .gallery-photos img {

        width: 49.3%;
        height: 50vh;
    }











@media (max-width:1200px) {
    * {
        font-size: 15px;
    }
}

@media (max-width:850px) {
    * {
        font-size: 14px;
    }
}

@media (max-width:695px) {
     /*switch to mobile*/

     /*.project1-box2 {
        height: 160vh;
        width: 100%;
        background-color: red;
    }*/

 
.wrapper3 {
    position: relative;
    height:474vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

    .wrapper3 img {
        position: relative;
        width: 100%;
        height: 50vh;
    }

    .project1-box1-right h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.4em;
        text-align: center;
    }
    
    .project1-box1-right h5 {
        font-size: 1.5em;
    }
    
    .project1-box1-right p {
        font-size: 1.5em;
    }


    .wrapper2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 160vh;
    }

    .project-wrapper {
        width: 97.5vw;
    }

    .project1-box1-left img {
        padding-top: 150px;
        width: 97.5vw;
        height: 65vh;
        object-fit:initial;
    }

    #project1-box1 {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    height: 160vh;
    width: 97.5vw;
    background-color: yellow;
    }

    .project1-box1-right {
        width: 95.5vw;
        height: 65vh;
        background-color: grey;
        order:1;
    }

    .project1-box1-left {
        display: flex;
        align-items: flex-start;
        width: 97.5vw;
        height: 65vh;
        background-color: pink;
        order:2;
    }

    .section1 h1 {
        font-size: 2.5em;
    }

    .section1 h5 {
        font-size: 1.5em;
    }


    #section2 a {
        text-align: center;
        line-height: 5vh;
        bottom: 10px;
     
    }
}